 <!-- Estamos definindo o estilo do corto do email nas propriedades de style-->
 <div style='font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-widht: 600px'>
   {{{body}}} <!--o restante da mensagem(corpo deve vir dentro das 3 chaves) -->
   {{> footer}} <!-- Estamos importando um partial que contem o rodape padrao dos emails-->
 </div>
